body {
  font-family: Arial, sans-serif;
  background-color: #181818;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}

button {
  background: #8b5cf6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #a78bfa;
}
